/* intuitivnejsi box-sizing */
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.nadpisSekce {
  padding-left: 20px;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.logo__img {
  margin-left: auto;
  margin-right: auto;
  margin: 36px auto 0 auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .logo {
    margin: 30px 0 30px 20px;
  }
  .logo__img {
    margin: 0;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  margin: 30px auto 30px auto;
  padding: 0;
  list-style: none;
  font-size: 18px;
}
.menu__item {
  text-decoration: none;
  color: #F03000;
  padding: 20px;
  display: inline-block;
}
.menu__item:hover {
  color: white;
  background-color: #F03000;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.nabidkaZajezdu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .nabidkaZajezdu {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 360px 180px;
    grid-template-areas: "zajezd--palmy zajezd--palmy" "zajezd--jezero zajezd--kolo";
  }
  .nabidkaZajezdu .zajezd:first-child {
    margin-top: 0;
  }
  .nabidkaZajezdu--lastminute {
    grid-template-areas: "zajezd--horskejezero zajezd--horskejezero" "zajezd--grandcanyon zajezd--kanary";
  }
  .nabidkaZajezdu .zajezd--palmy {
    grid-area: zajezd--palmy;
  }
  .nabidkaZajezdu .zajezd--jezero {
    grid-area: zajezd--jezero;
  }
  .nabidkaZajezdu .zajezd--kolo {
    grid-area: zajezd--kolo;
  }
  .nabidkaZajezdu .zajezd--horskejezero {
    grid-area: zajezd--horskejezero;
  }
  .nabidkaZajezdu .zajezd--grandcanyon {
    grid-area: zajezd--grandcanyon;
  }
  .nabidkaZajezdu .zajezd--kanary {
    grid-area: zajezd--kanary;
  }
}
@media screen and (min-width: 960px) {
  .nabidkaZajezdu {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 180px 180px;
    grid-template-areas: "zajezd--palmy zajezd--jezero" "zajezd--palmy zajezd--kolo";
  }
  .nabidkaZajezdu .zajezd:first-child {
    margin-top: 0;
  }
  .nabidkaZajezdu--lastminute {
    grid-template-areas: "zajezd--grandcanyon zajezd--horskejezero" "zajezd--kanary zajezd--horskejezero";
  }
}

.zajezd {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
}
.zajezd--palmy {
  background-image: url(/images/palmy.png);
  background-size: cover;
}
.zajezd--jezero {
  background-image: url(/images/jezero2.png);
  background-size: cover;
}
.zajezd--kolo {
  background-image: url(/images/nakole.png);
  background-size: cover;
}
.zajezd--horskejezero {
  background-image: url(/images/lodicka.png);
  background-size: cover;
}
.zajezd--grandcanyon {
  background-image: url(/images/podkova.png);
  background-size: cover;
}
.zajezd--kanary {
  background-image: url(/images/zatoka.png);
  background-size: cover;
}
.zajezd--major {
  min-height: 240px;
}
.zajezd--minor {
  min-height: 150px;
}
.zajezd__cenovka {
  font-size: 18px;
  color: white;
  background-color: #F03000;
  display: inline-block;
  margin-right: auto;
  font-weight: 400;
  padding: 20px;
}
.zajezd__jmeno {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}
.zajezd__popis {
  color: white;
  margin: 20px auto 0 auto;
  font-style: "Open Sans", sans-serif;
}

.karticky {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .karticky {
    grid-template-columns: repeat(4, 1fr);
  }
}

.karticka {
  display: flex;
  background-color: #F0F0F0;
  align-items: center;
  padding: 20px;
}
.karticka__ikona {
  flex-basis: 20%;
}
.karticka__textPart {
  flex-basis: 80%;
}
.karticka__ikonaImg {
  height: 40px;
  margin: auto;
  display: block;
}
.karticka__nadpis {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}
.karticka__text {
  margin-bottom: 0;
  font-style: "Open Sans", sans-serif;
}
@media screen and (min-width: 768px) {
  .karticka {
    display: block;
  }
  .karticka__ikonaImg {
    padding-bottom: 20px;
  }
}

.novinky {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 960px) {
  .novinky {
    grid-template-columns: repeat(3, 1fr);
  }
}

.novinka {
  padding: 20px;
  background-color: #F0F0F0;
}
.novinka__datum {
  color: #888888;
  margin-top: 0;
  margin-bottom: 10px;
}
.novinka__nadpis {
  color: #F03000;
  margin-top: 0;
  margin-bottom: 10px;
}
.novinka__text {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
}

.paticka {
  text-align: center;
  background-color: #444444;
  color: white;
  padding: 20px;
  margin: 0 20px 40px 20px;
}/*# sourceMappingURL=style.css.map */