<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">    
        <div class="logo">
            <img class="logo__img" src="/images/logo.svg" alt="Logo">
        </div>
        <div>
        <nav>
            <ul class="menu">
                <li><a class="menu__item" href="">Last minute</a></li>
                <li><a class="menu__item" href="">Destinace</a></li>
                <li><a class="menu__item" href="">Časté otázky</a></li>
            </ul>
        </nav>
        </div>
    </header>

    {{ content | safe }}

    <footer class="paticka"> &copy;2021, Czechitas</footer>
    </div>
    </body>
</html>